---
layout: default
title: Padraignix's InfoSec Blog - All Posts
summary: Padraignix's InfoSec Blog - All Posts. A quick summary of all articles released.
thumbnail:  https://github.com/padraignix.png
canon:      https://padraignix.github.io/posts/
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h1 class="header" itemprop="headline">All Posts by Category</h1>

    {% for category in site.categories %}
    <div class="col-md-12 content-panel articles">
      <!-- This is where twisty goes in -->
      <details>
      <summary>{{ category | first }} ({{ category[1].size }})</summary>
      
      <ul>
        {% for posts in category %}
          {% for post in posts %}
            <li>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title2 }}</a>
              <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
              {% if post.tags and post.tags.size > 0 %}
              <br>
              <p>
                {% if post.summary %}
                 {{ post.summary | strip_html | truncatewords:40 }}
                {% else %}
                 {{ post.excerpt | strip_html | truncatewords:40 }}
                {% endif %}
                </p>
              <div class="tags">
                <small class="hidden-xs">
                <i class="fa fa-tags"></i>
                  {{ post.tags | join: ', ' }}
                </small>
              </div>
              {% endif %}
            </li>
          {% endfor %}
        {% endfor %}

      </ul>
    </details>
    </div>
    {% endfor %}


<!--  {% for post in site.posts %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
        <ul>
      {% endif %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
          </li>
      {% if forloop.last %}
        </ul>
      </div>
      {% else %}
        {% if this_year != next_year %}
          </ul>
        </div>
        <div class="col-md-12 content-panel articles">
          <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}

    {% endfor %}
-->
    </div>

  </div>
