---
layout: default
---
<div class="container-fluid single">
  <div class="row">

    <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">
      <h1 class="header" itemprop="name">{{ page.title }}</h1>
      <div class="content-panel content">

        <span itemprop="articleBody">{{ content }}</span>

        {% if site.addthis_id %}
        <div class="share">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
        </div>
        {% endif %}

      </div>

      {% if site.twitter_username and site.disqus_account %}
      <div class="content-panel feedback">
        Follow me on twitter!
        <br><br>
        <a href="https://twitter.com/_PatrickDowning?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @_PatrickDowning</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="htb">
            <br>
            <a href="https://www.hackthebox.eu/profile/137488">
               <img src="https://www.hackthebox.eu/badge/image/137488">
            </a>
        </div>
      </div>
      {% elsif site.twitter_username %}
      <div class="content-panel feedback">
        Follow me on twitter!
        <br><br>
        <a href="https://twitter.com/_PatrickDowning?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @_PatrickDowning</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="htb">
            <br>
            <a href="https://www.hackthebox.eu/profile/137488">
               <img src="https://www.hackthebox.eu/badge/image/137488">
            </a>
        </div>
      </div>
      {% elsif site.disqus_account %}
      <div class="content-panel feedback">
        Feel free to reach out to me below!
            <br>
            <a href="https://www.hackthebox.eu/profile/137488">
               <img src="https://www.hackthebox.eu/badge/image/137488">
            </a>
      </div>
      {% endif %}

      {% if site.disqus_account %}
      <div class="content-panel comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      </div>
      {% endif %}
    </div>

  </div>

</div>

{% if site.disqus_account %}
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
function disqus_config() { this.experiment.enable_scroll_container = true; }
var disqus_shortname = "{{ site.disqus_account }}"; // required: replace example with your forum shortname
/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
{% endif %}
